{% extends "modals/modal.html" %}
{% load static %}

{% block javascript %}
  <script src="{% static 'javascript/modal.js' %}"></script>
  <script src="{% static 'javascript/new_path.js' %}"></script>
{% endblock %}

{% block modalcontent %}
<form id="new-path-form">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add path</p>
      <button id="new-path-form-close" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <input id="new-path" name="path" placeholder="Insert new path">
    </section>
    <footer class="modal-card-foot">
      <div id="new-path-button">
        {% include 'components/styled_button.html' with button_text="Create new path" url_name="javascript:;" sizes="is-size-6" only %}
      </div>
    </footer>
  </div>
</form>
{% endblock %}
