.breadcrumb-container {
    display: flex;
}

.breadcrumb a {
    color: var(--teknolog-rod);
    font-weight: 300;
    letter-spacing: 0.03em;
}

.breadcrumb a:hover {
    color: var(--black);
}

.current-breadcrumb a {
    color: var(--black);
}

/* This modifies the breadcrumb divider */
.breadcrumb li + li::before {
    color: var(--black);
}

.back-icon {
    margin-right: 25px;
    margin-left: 5px;
}