@import "css/root.css";

.button {
    background-color: var(--white);
    font-weight: 600;
    border: 1px solid;
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.styled-button-primary {
    color: var(--teknolog-rod);
}

.styled-button-primary:hover {
    color: var(--white);
    border-color: var(--teknolog-rod);
    background-color: var(--teknolog-rod);
}

.styled-button-secondary {
    color: var(--black);
}

.styled-button-secondary:hover {
    color: var(--white);
    border-color: var(--black);
    background-color: var(--black);
}

.styled-button-admin {
    color: var(--teal);
}

.styled-button-admin:hover {
    color: var(--white);
    border-color: var(--teal);
    background-color: var(--teal);
}

.text-left-aligned {
    text-align: center;
}
