@import "css/root.css";

.toolbar-outer {
    width: 100%;
    margin: 20px 0;
    padding: 25px 25px 25px 25px;
    background-color: var(--grey);
}

.toolbar-title {
    margin-left: 5px;
    margin-bottom: 15px;
    font-weight: 600;
}

#select-all-objects-button {
    display: none;
}

#delete-button {
    display: none;
}
