{% load static %}

{% block css %}
  <link href="{% static 'css/components/styled_button.css' %}" rel="stylesheet">
{% endblock %}

<div class="styled-button-container">
  <a href="{{ url_name|default:"javascript:;" }}">
    <button class="styled-button" type="{{ button_type }}">
      <div class="button-content">
        {% if fa_icon_class %}
          <i class="fas {{ fa_icon_class }}"></i>
        {% endif %}
        <p class="text-left-aligned {{ sizes }}">
          {{ button_text }}
        </p>
      </div>
    </button>
  </a>
</div>
