{% load static %}

{% block css %}
  <link href="{% static 'css/components/thumbnail.css' %}" rel="stylesheet">
{% endblock %}

{% with width=image.image.width height=image.image.height %}
  <a
    onClick="selectLinkOnClick(this)"
    class="img-link selectable"
    style="width:{% widthratio width height 300 %}px;flex-grow:{% widthratio width height 300 %};"
    selectable="true"
    data-url="{{ image.image.url }}"
    data-id="{{ image.pk }}"
  >
    <i style="padding-bottom:{% widthratio height width 100 %}%"></i>
    <img class="thumbnail-small" src="{{ image.preview }}" alt="{{ image.image.name }}" />
    <input type="checkbox" />
  </a>
{% endwith %}
