{% load static %}

<nav class="navbar" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://foto.tf.fi">
      <img
        class="img-fluid header-logo"
        src="{% static "images/logo_black.svg" %}"
        alt="Teknologföreningens logo"
      >
      <h1 class="navbar-item header-logo-text">
        FOTOGALLERI
      </h1>
    </a>
    <a 
      role="button"
      class="navbar-burger"
      data-target="navMenu"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarEnd"
      >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start"></div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="{% url 'feedback' %}" class="button styled-button-primary">
            BETA – Ge feedback!
          </a>
          <a class="button styled-button-secondary">
            Logga ut
          </a>
        </div>
      </div>
    </div>
  </div>  
</nav>

<script src="{% static 'javascript/header_menu.js' %}"></script>
