{% load static %}

<div id="header-top">
  <div id="header-information">
    <a id="header-logo-container" href="https://foto.tf.fi">
      <img
        id="header-tf-logo"
        class="img-fluid"
        src="{% static "images/logo_black.svg" %}"
        alt="Teknologföreningens logo"
      >
    </a>

    <h1 id="header-text">
      FOTOGALLERI
    </h1>
  </div>

  <div id="header-meta">
    <a href="{% url 'feedback' %}" class="button styled-button-primary">
      BETA – Ge feedback!
    </a>
    <a class="button styled-button-secondary">
      Logga ut
    </a>
  </div>
</div>

<hr class="page-divide" />
