{% load static %}

{% block javascript %}
  <script src="{% static 'javascript/new_folder.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'css/new_folder.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <form id="new-folder-form" method="POST">
    <!-- Send the CSRF Middelware Token as a part of the POST form -->
    <input name="csrfmiddlewaretoken" value="{{ csrf_token }}" style="display: none;">
    <input id="new-path" name="path" placeholder="Insert new path">

    <button id="new-folder-button" type="button">
      New folder
    </button>
  </form>
{% endblock %}
