{% extends "base.html" %}
{% load static %}

{% block content %}
  <script src="{% static 'javascript/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'javascript/jquery.fileupload.js' %}"></script>
  <script src="{% static 'javascript/jquery.iframe-transport.js' %}"></script>

  <script src="{% static 'javascript/upload.js' %}"></script>

  <form id="upload-form" method="POST">
    <!-- Send the CSRF Middelware Token as a part of the POST form -->
    <input name="csrfmiddlewaretoken" value="{{ csrf_token }}" type="hidden">

    <input id="{{ form.year.id_for_label }}" name="{{ form.year.name }}" autocomplete="off">
    <input id="{{ form.event.id_for_label }}" name="{{ form.event.name }}" autocomplete="off">

    <button type="button" class="js-upload-photos">
      Upload
    </button>

    <input
      id="fileupload"
      type="file"
      name="image"
      multiple
      style="display: none;"
      data-url="{% url 'upload' %}"
    >
  </form>

{% endblock %}
