{% extends "base.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'css/image_grid.css' %}" rel="stylesheet">
  <link href="{% static 'css/folder.css' %}" rel="stylesheet">
  <link href="{% static 'css/navigation.css' %}" rel="stylesheet">
  <link href="{% static 'css/components/title.css' %}" rel="stylesheet">
  <link href="{% static 'css/components/vertical_line.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'javascript/select.js' %}"></script>
{% endblock %}

{% block content %}
  <div>
    {% if folder %} {# display banner instead of breadcrumb if in gallery root #}
      {% include "components/breadcrumb.html" %}
    {% endif %}
    {% include "components/toolbar.html" %}

    {# RUBRIK #}
    <div class="content album-title">
      <div class="title-text">
        <i class="vertical-line"></i>{{ folder.path|default:"Galleri" }}
      </div>
      <div class="description-text">
        Vi kunde till och med ha en beskrivning här...
      </div>
    </div>

    {# MAPPAR #}
    <div
      id="all-folders"
      class="content folders-content"
      style="{% if not folders %}display: none;{% endif %}"
    >
    <div>
      {% for folder in folders %}
      <div>
        {% include "components/folder.html" with folder=folder %}
      </div>
      {% endfor %}
      </div>
    </div>

    {# BILDER #}
    <div
      id="all-images"
      class="content image-grid-content"
      style="{% if not images %}display: none;{% endif %}"
    >
      {% for image in images %}
        {% include "components/thumbnail.html" with image=image %}
      {% endfor %}
    </div>
  </div>

  {# Display some placeholder text for an empty page #}
  {% if not images and not folders %}
  <h2 class="is-size-4 has-text-centered is-italic">
    Här var det visst tomt...
  </h2>
  {% endif %}
{% endblock %}
