{% extends "base.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'css/card.css' %}" rel="stylesheet">
  <link href="{% static 'css/folder.css' %}" rel="stylesheet">
  <link href="{% static 'css/navigation.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="all-images" class="img-grid">
    {% include "components/toolbar.html" %}

    {% for folder in folders %}
      <div class="view-card">
        <a
          href="/view/{{ folder.full_path }}"
          class="folder-link"
        >
          <i class="fas fa-folder" aria-hidden="true"></i>
          <div>{{ folder.path }}</div>
        </a>
      </div>
    {% endfor %}

    {% for image in images %}
      {% with width=image.image.width height=image.image.height %}
        <a
          href="{{ image.image.url }}"
          class="img-link"
          style="width:{% widthratio width height 300 %}px;flex-grow:{% widthratio width height 300 %};"
        >
          <i style="padding-bottom:{% widthratio height width 100 %}%"></i>
          <img class="thumbnail-small" src="{{ image.preview }}" alt="{{ image.image.name }}" />
        </a>
      {% endwith %}
    {% endfor %}
  </div>
{% endblock %}
