@import "css/root.css";

.img-grid {
    display: flex;
    flex-wrap: wrap;
}

.img-grid::after {
    content: '';
    flex-grow: 999999999;
}

a.img-link {
    margin: 2px;
    position: relative;
}

img.thumbnail-small {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
}

i {
    display: block;
}

img.thumbnail-large {
    width: 1920px;
    height: 1080px;
    object-fit: cover;
}
