@import "css/root.css";

#feedback-card {
    margin-top: 10px;
    padding: 30px;
}

#feedback-thanks {
    margin-top: 10px;
    padding: 30px;
}

#feedback-information {
    margin-top: 10px;
    padding: 30px;
}

#feedback-information div {
    margin-bottom: 10px;
}

#feedback-submit-button {
    width: 100px;
    height: 40px;
    margin-top: 30px;
}

.feedback-form-section {
    margin-bottom: 20px;
}

.feedback-required > label:after {
    content: '*';
    color: var(--teknolog-rod);
}
