@import "css/root.css";

.folders-card {
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    margin-top: 10px;
    padding: 10px;
}

.folder-link {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 8px;
}

.folder-link:hover {
    background-color: var(--white);
}

i.fa-folder {
    margin-right: 5px;
}
