@import "css/root.css";

.folder-link {
    font-size: 200%;
    font-weight: bold;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    transition-duration: var(--transition-time);
}

i.fa-folder {
    font-size: 300%;
    margin-bottom: 10px;
}

.folder-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
