@import "css/root.css";

:root {
    --header-height: 70px;
    --header-margin-bottom: 0px;
}

.navbar {
    border-bottom: 1px solid var(--black);
    box-shadow: 0 0 10px rgba(10,10,10,.3);
    padding-left: 9%;
    padding-right: 9%;
}

@media only screen and (max-width: 1020px) {
    /* Reduce padding for mobile phones: */
    [class="navbar"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-item img {
    max-height: 2.3rem;
}

.header-logo {
    height: var(--header-height);
    padding: 0px;
}

.header-logo-text {
    font-size: 1.1em;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: var(--black);
}

.navbar-burger {
    height: inherit;
}