@import "css/header.css";

.landing-card {
    max-width: 800px;
    width: 100%;
    max-height: 1000px;
    margin-top: calc(-1 * var(--header-margin-bottom));
}

.landing-card-content {
    padding: 90px;
}

.vertically-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-text {
    text-align: center;
}

.landing-text-margin {
    margin: 5%;
}

.navigation-buttons-style {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .navigation-buttons-style {
        flex-direction: column;
        align-items: center;
    }

    .navigation-buttons-style > .styled-button-container {
        margin: 4px;
    }
}

.navigation-buttons-style > .styled-button-container {
    width: 220px;
}

.centered-text {
    text-align: center;
}
