@import "root.css";

.login-form {
    margin: 2rem auto auto auto;
    width: 80%;
    max-width: 460px;
}

.form-error {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.form-button {
    width: 80%;
    height: 3rem;
    margin-left: 0;
    margin-right: 0;
}