@import "css/root.css";

.card-title {
    color: var(--black);

    border-left: 4px solid var(--teknolog-rod);
    padding-left: 10px;

    margin-bottom: 10px;
    margin-left: 1px;

    display: block;
    width: 100%;
}
