/* Root CSS file for colors and globally shared variables/styles. */

:root {
    --teknolog-rod: #b20738;
    --dark-red: #3f0214;
    --teal: #3fb5b0;
    --dark-teal: #2d8580;
    --black: #000;
    --grey: #ddd;
    --light-grey: #f4f4f4;
    --white: #fff;

    --transition-time: 0.4s;
    --rounding-radius: 10px;
}

/* Set Montserrat font to whole page. */
* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--light-grey);
    min-height: 100%;
}
