/* Root CSS file for colors and globally shared variables/styles. */

:root {
    --teknolog-rod: #b20738;
    --dark-red: #490318;
    --black: #000;
    --grey: #ddd;
    --white: #f4f4f4;

    --transition-time: 0.4s;
    --rounding-radius: 10px;
}

/* Set Montserrat font to whole page. */
* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--white);
    min-height: 100%;
}
